<div class="fondo-presentacion contenedor-flex">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contenido-presentacion">
                    <h1>Bienvenidos a TecnoViper</h1>
                    <p>Es un espacio libre de opiniones</p>
                    <a href="#noticias-destacadas">Comenzar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-noticias-destacadas id="noticias-destacadas"></app-noticias-destacadas>

<app-comentarios-noticias></app-comentarios-noticias>

<app-informacion-contacto></app-informacion-contacto>