<div class="fondo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contenido">
                    <h1>Información General</h1>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="contenido">
                    <h2>Contacto</h2>
                    <p>Correo: marco1111vl@gmail.com</p>
                    <p>Número: +506 83222405</p>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="contenido">
                    <h2>Redes Sociales</h2>
                </div>
            </div>
        </div>
    </div>
</div>