<div class="fondo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contenido">
                    <h1>Información General</h1>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="contenido">
                    <h2>Contacto</h2>
                    <p>Correo: marco1111vl@gmail.com</p>
                    <p>Número: +506 83222405</p>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="contenido">
                    <h2>Redes Sociales</h2>
                    <a href="https://www.facebook.com/marco.vargaslanzas/">
                        <img src="../../../assets/img/iconos/icon-facebook.png" alt="">
                    </a>
                    <a href="https://www.linkedin.com/in/marco-vargas-lanzas-aa7171228/">
                        <img src="../../../assets/img/iconos/icon-linkedin.png" alt="">
                    </a>
                    <a href="https://www.youtube.com/channel/UCHiSq1bQ-a3c4cxp5to48Ew">
                        <img src="../../../assets/img/iconos/icon-youtube.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>